.btn-jym{
    background-color: #E4717A;
}

.btn-jym-w{
    background-color: white;
    color: #E4717A;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 14px;
}
.btn-jym-w:hover{
    background-color: #E4717A;
    color: white;
}
.btn-jym-r{
    background-color: #E4717A;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 14px;
}
.btn-jym-r:hover{
    background-color: white;
    color: #E4717A;
    border:#E4717A solid 1px
}
.rosado-jym{
    color: #E4717A!important;
}
.font-sacramento{
    font-weight: bold;
    color: #E4717A;
    font-family: "Sacramento", Arial, serif;
}

.font-work-sans{
    font-family: "Work Sans", Arial, sans-serif;
}

.input-confirmar-nombre{
    width: 20px;
    height: 20px;
    margin-bottom: 11px !important;
}

.foto-padres{
    border-radius: 20px;
    border: 3px solid #e4717a;
}
.text-plomo{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

.icon-regalos{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}